<plugin name='glangs' version='0.1-SNAPSHOT' grailsVersion='1.2.2 &gt; *'>
  <author>Izzet Mustafaiev</author>
  <authorEmail>webdizz@gmail.com</authorEmail>
  <title>The Grails domain's i18n plugin.</title>
  <description>\

</description>
  <documentation>http://webdizz.name/tags/glangs</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>name.webdizz.grails.glint.test.ArticleController</resource>
    <resource>name.webdizz.grails.glint.Article</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>